<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IMKB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F207E11F20AD9FE700F27C66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F207E13320AD9FE800F27C66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F207E13E20AD9FE800F27C66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
